# Ignorar arquivos de Excel e Banco de Dados (Garante que nenhum dado real vaze)
*.xlsx
*.xls
*.csv
*.db


# Ignorar arquivos temporários do Python e ambientes virtuais
__pycache__/
*.pyc
venv/
.venv/
env/
.env