# Ignorar arquivos de Excel (Garante que nenhum dado real vaze)
*.xlsx
*.xls
*.csv

# Ignorar as pastas de saída geradas pelo seu script
arquivo/
saida/

# Ignorar arquivos temporários do Python e ambientes virtuais
__pycache__/
*.pyc
venv/
.venv/
env/
.env